*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color:#f1f1f1;
}


.navbar{
  background-color: #FF6A13;
}


#bar{
  display: none;
}

@media screen and (max-width:998px){
  #bare{
    display: none;
  }
}

@media screen and (max-width:998px){
  #bar{
    display:block;
  }
}

.nav-item:hover{
  background-color: slategray;
  color: black;
  padding: 0px 7px
}

#tog{
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: orange;
  outline: none;
  padding: 3px 7px;
  border-radius: 5px;
}




.container{
max-width: 1000px;
margin: 0px  auto;
display: flex;
flex-direction: column;
justify-content: center;
padding-top: 20px;
}

.container .icon{
  display: none;
}

@media screen and (max-width:997px){
  .container ul{
    display:none;
  }

}

@media screen and (max-width:997px){
  .container ul .icon{
    display:block;
  }

}


.container h1{
  font-size: 18px;
  color: white;
}

.nav{
  list-style-type: none;
}
.nav li{
  border-right: 1px solid  rgba(253, 253, 253, 0.2);
}

.nav li a{
  padding: 3px 7px;
  color: white;
  text-decoration: none;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 5px;
}

.nav li a:hover{
  background-color:rgba(250, 184, 98, 0.2);
}

/* the navigation bar end here and the carousel begins next */



.carousels{
margin-left:200px ;
margin-right:200px ;
background-color: white;
border: 1px solid #f5f5f5;
}



@media screen and (max-width:994px){
  .carousels{
    margin:0px 150px;
  }

}

@media screen and (max-width:800px){
  .carousels{
    margin:0px 100px;
  }

}

@media screen and (max-width:769px){
  .carousels{
    margin:0px 0px;
  }

}


.directions{
  display: flex;
justify-content: flex-end;
font-size: 11px;
padding: 10px;
}

.directions a{
  color: black;
  padding: 5px;
  text-decoration: none;
}

.content h1{
  font-size: 22px;
  color: #FF6A13;
  padding-left: 40px;
  font-weight: bolder;
}

.v-nav{
  display: flex;
}

@media screen and (max-width:997px){
  .v-nav{
    display:flex;
    flex-direction: column;
  }
}

.v-nav h4{
  font-size: 15px;
  font-weight: bolder;
  color: #333;
}

.v-nav p, li{
  color: gray;
}

.v-content{
  font-size: 13px;
}

@media screen and (max-width:997px){
  .contents{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:997px){
 .v-content {
display: none;
  }
}



.v-content ul{
  list-style-type: none;

}

.v-content li{
max-width: 150px;
}

.v-content ul li a{
  display: block;
  text-decoration: none;
  color: gray;
  border-bottom: 1px solid #f1f1f1;
  padding:4px 4px;

}

.active{
  background-color: #333;
  border-radius: 10px 0px 10px 0px;
}

.active a:hover{
  border-radius: 10px 0px 10px 0px;
}
.v-content ul li a:hover{
  background-color: #333;
}



.v-content-one{
  font-size: 13px;
  line-height: 1.7;
  width: 77%;
  margin: 0px 30px;
}

@media screen and (max-width:997px){
  .v-content-one{
 width: 100%;
 margin: 0;
 padding: 10px;
   }
 }

.footer{
  font-size: 13px;
  display: flex;
  justify-content: center;

}
